/* src/styles/Contact.css */
.contact {
  background-color: #0b0b0b;
  color: white;
  text-align: center;
  padding: 8rem 2rem;
}

.contact-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 15rem 2rem 5rem;
}

.contact-subtitle {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 3rem;
  max-width: 600px;
  margin-inline: auto;
}

.whatsapp-button {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #25d366;
  color: black;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1ebc59;
}
